@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 6%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 263 70% 66%;

    --primary: 263 70% 66%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222 47% 11%;
    --secondary-foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215 16% 57%;

    --accent: 216 34% 17%;
    --accent-foreground: 213 31% 91%;

    --destructive: 0 63% 61%;
    --destructive-foreground: 0 0% 100%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
